.our-process {
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 1.5px;
  text-align: center;
  text-transform: uppercase;
  color: #796f51;
}
.p-i-p {
  font-family: Unbounded;
  font-weight: bolder;
  font-style: Medium;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  color: #161618;
}
.contant {
  /* background-color: aqua; */
  /* margin-inline: 90px; */
  height: 464px;
  align-content: center;
  justify-items: center;
  position: relative;
}
.horizontal-divider {
  position: absolute;
  width: 83%;
  height: 2px;
  background-color: #796f51;
  top: 50%;
}
.vertical-divider {
  width: 2px;
  height: 50px;
  background-color: #796f51;
  position: absolute;
  left: 32%;
  top: 39.5%;
}
.vertical-divider2 {
  width: 2px;
  height: 50px;
  background-color: #796f51;
  position: absolute;
  left: 32%;
  top: 50.5%;
}
.heading {
  font-family: Unbounded;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 23px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #161618;
}
.all-contant {
  display: flex;
  width: 90%;
  justify-content: center;
  flex-wrap: wrap;
}
.div1 {
  position: relative;
  top: 0;
  width: fit-content;
  height: 464px;
  /* background-color: rgba(0, 255, 0, 0.491); */
  width: 200px;
}
.text {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 14.26px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #848283;
  width: 200px;
}
._01,
._03,
._05 {
  font-family: Unbounded;
  font-weight: bolder;
  font-style: Medium;
  font-size: 35.65px;
  letter-spacing: 0%;
  color: #015829;
  margin-block: 0;
}
._02 {
  font-family: Unbounded;
  font-weight: bolder;
  font-style: Medium;
  font-size: 35.65px;
  letter-spacing: 0%;
  color: #015829;
  margin-block: -9px;
}
._04 {
  font-family: Unbounded;
  font-weight: bolder;
  font-style: Medium;
  font-size: 35.65px;
  letter-spacing: 0%;
  color: #015829;
  margin-block: -12px;
}
.link img {
  justify-self: center;
}
.link {
  width: 170px;
  height: 170px;
  opacity: 1;
  border-radius: 8.91px;
  padding: 5.35px;
  background-color: #796f51;
  position: absolute;
  bottom: 0;
  align-content: center;
  text-align: center;
}
.div2 {
  position: relative;
  width: fit-content;
  height: 464px;
  background-color: rgba(0, 255, 0, 0.491);
}
.link2 {
  width: 170px;
  height: 170px;
  opacity: 1;
  border-radius: 8.91px;
  padding: 5.35px;
  background-color: #796f51;
  align-content: center;
  text-align: center;
  position: absolute;
  top: 0;
}
.contant-div {
  position: absolute;
  bottom: 0;
}
.contant-div2 {
  position: absolute;
  bottom: 10px;
}
.link:hover{
  background-color: #015829;
}
.link2:hover{
  background-color: #015829;
}
@media only screen and (max-width: 850px) {
  .div1 {
    margin-block: 30px;
  }
  .horizontal-divider {
    display: none;
  }
}
